main section h1{
    color: white;
    text-align: center;
    padding: 20px;
}
#infancia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.borde-celeste{
    width: 125px;
    height: 55px;
    padding: 12px;
    background:  $color-terciario;
    border-radius: 20px;
}

.borde-celeste2{
    width: 300px;
    height: 50px;
    padding: 12px;
    background: $color-terciario;
    border-radius: 20px;
}

.ninez{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    h2{
        font-size: 38px;
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

.fotos-ninez{
    display: flex;
    justify-content: center;
}

.messi-newells{
    margin: 12px 12px 12px 12px;
    padding: 0;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 50%;
        height: 40%;
    }
}

.messi-grandoli{
    margin: 12px 12px 12px 12px;
    padding: 0;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 30%;
        height: 15%;
    }
}

.texto-ninez p{
    color: white;
    margin: 30px 12px 0px 20px;
    font-size: 24px;
}

.messi-barcelona1{
    margin: 30px 12px 12px 0px;
    padding: 0;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 35%;
        height: 30%;
    }
}

.messi-barcelona2{
    margin: 30px 0px 12px 12px;
    padding: 0;
    width: 390px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 40%;
        height: 30%;
    }
}

.fc-barcelona{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    h2{
        margin: 30px 12px 12px 12px;
        font-size: 38px;
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

.texto-barca{
    color: white;
    margin: 30px 12px 0px 20px;
    font-size: 24px;
}

#fotosBarcelona{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.foto-barcelona1{
    width: 60%;
    padding: 0;
    margin: 30px 12px 12px 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 85%;
    }
}

.foto-barcelona2{
    width: 60%;
    padding: 0;
    margin: 30px 0px 12px 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 85%;
    }
}

.foto-barcelona3{
    width: 60%;
    padding: 0;
    margin: 30px 0px 12px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 80%;
    }
}

.foto-barcelona4{
    width: 60%;
    padding: 0;
    margin: 30px 0px 12px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 80%;
    }
}

#fotosBarcelona{
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        justify-content: center;
        align-items: center;
        list-style-type: none;
        text-decoration: none;
        li{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap; 
            justify-content: center;
            align-items: center;
            list-style-type: none;
            text-decoration: none;
        }   
    }
}

.seleccion-argentina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    h2{
        font-size: 38px;
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        @include mediaquery-mobile{
            font-size: 24px;
        }
    }
}

.borde-celeste3{
    width: 415px;
    height: 50px;
    margin: 30px 0px 12px 0px;
    padding: 12px 12px 12px 12px;
    background:  $color-terciario;
    border-radius: 20px;
    @include mediaquery-mobile{
        width: 300px;
        height: 30px;
    }
}

.texto-argentina{
        color: white;
        margin: 30px 12px 0px 20px;
        font-size: 24px;
}

.fotos-argentina{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.foto-argentina1{
    width: 30%;
    padding: 0;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
}

.foto-argentina2{
    width: 50%;
    padding: 0;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;  
}

.psg-titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    h2{
        font-size: 38px;
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        @include mediaquery-mobile{
            font-size: 25px;
        }
    }
}

.borde-celeste4{
    width: 450px;
    height: 50px;
    margin: 30px 0px 12px 0px;
    padding: 12px 12px 12px 12px;
    background:  $color-terciario;
    border-radius: 20px;
    @include mediaquery-mobile{
        width: 300px;
        height: 30px;
    }
}

.texto-psg{
    color: white;
    margin: 30px 12px 0px 20px;
    font-size: 24px;
}

.fotos-psg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.foto-psg1{
    width: 50%;
    padding: 0;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 80%;
    }
}

.foto-psg2{
    width: 50%;
    padding: 0;
    margin: 30px 12px 50px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  $color-terciario;
    @include mediaquery-mobile{
        width: 80%;
    }
}