.fondo-estadisticas-barcelona{
    width: 100%;
    padding: 0;
}

.fondo-estadisticas-psg{
    width: 100%;
    padding: 0;
}

.fondo-estadisticas-argentina{
    width: 100%;
    padding: 0;
}

#tituloBarca{
    position: absolute;
    top: 20%;
    left: 1%;
    color: white;
    font-size: 34px;
    @include mediaquery-mobile{
        top: 21%;
        font-size: 28px;   
    }
}

.borde-azul{
    width: 249px;
    height: 45px;
    margin: 0px;
    padding: 4px 12px;
    background: $color-secundario;
    text-align: center;
    @include mediaquery-mobile{
        width: 210px;
        height: 40px;
    }
}

#estadisticasBarcelona{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 20%;
    left: 70%;
    color: white;
    font-size: 47px;
    @include mediaquery-mobile{
        font-size: 18px;  
        top: 25%; 
    }
}

#tituloPsg{
    position: absolute;
    top: 150%;
    left: 70%;
    color: white;
    font-size: 34px;
    @include mediaquery-mobile{
        top: 80%;
        left: 50%;
        font-size: 26px;   
        padding: 0px 0px;
        padding-top: 5px;
    }
}

.borde-azul2{
    width: 358px;
    height: 40px;
    margin: 0px;
    padding: 4px 12px;
    background: $color-secundario;
    text-align: center;
    @include mediaquery-mobile{
        width: 260px;
        padding: 0px;
    }
}

#estadisticasPsg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 135%;
    left: 1%;
    color: white;
    font-size: 46px;
    @include mediaquery-mobile{
        top: 80%;
        font-size: 18px;
    }
}

#estadisticasArg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 250%;
    left: 70%;
    color: white;
    font-size: 46px;
    @include mediaquery-mobile{
        font-size: 18px;
        top: 136%;
    }
}

#tituloArg{
    position: absolute;
    top: 260%;
    left: 2%;
    color: white;
    font-size: 45px;
    @include mediaquery-mobile{
        top: 140%;
        font-size: 24px;
    }
}

.titulo-barcelona{
    margin: 20px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.borde-azul3{
    width: 260px;
    height: 55px;
    margin: 0px;
    padding: 3px;
    background: $color-secundario;
    text-align: center;
    @include mediaquery-mobile {
        width: 130px;
        height: 35px;
    }
}