#videos {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#video1{
    margin: 30px;
    padding: 0;
    box-shadow: 0px 0px 30px $color-terciario;
    border-radius: 35px;
    @include mediaquery-mobile{
        width: 450px;
        height: 250px;
    }
}

#video2{
    margin: 50px;
    padding: 0;
    box-shadow: 0px 0px 30px $color-terciario;
    border-radius: 35px;
    @include mediaquery-mobile{
        width: 450px;
        height: 250px;
    }
}

#imagenes{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        li{
            margin: 12px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
    }  
}

#galeriaFotoUno{
    img{
        margin: 10px;
        padding: 0;
        width: 50%;
        border-radius: 20px;
        box-shadow: 0px 0px 30px $color-terciario;
    }
}

#galeriaFotoDos{
    img{
        width: 80%;
        padding: 0;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 30px $color-terciario;
    }
}
#galeriaFotoTres {
    img{
        margin: 10px;
        padding: 0;
        width: 80%;
        border-radius: 20px;
        box-shadow: 0px 0px 30px $color-terciario;
    }
}

#galeriaFotoCuatro{ 
    img{
        margin: 10px;
        padding: 0;
        width: 80%;
        border-radius: 20px;
        box-shadow: 0px 0px 30px $color-terciario;
    }
}

#galeriaFotoCinco {
    img{
        margin: 10px;
        padding: 0;
        width: 80%;
        border-radius: 20px;
        box-shadow: 0px 0px 30px $color-terciario;
    }
}
