#hero{
    background-image: url(../media/messi-copa2.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mediaquery-mobile(){
        background-position: center;
    }
}
#hero p{
    color: white;
    font-size: 40px;
    opacity: 60%;
    display: flex;
    @include mediaquery-mobile(){
        font-size: 22px;
    }
}
.contenedor-noticias {
    margin-top: 15px;
	width: 330px;
	height: 80px;
	background: $color-secundario;
    @include mediaquery-mobile(){
        width: 120px;
        height: 32px;
    }
}
#noticias h2 {
    padding-left: 12px;
    color: white;
    font-size: 72px;
    @include mediaquery-mobile(){
        padding-left: 5px;
        font-size: 26px;
    }
}
#foto1{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    flex-wrap: wrap;
    @include mediaquery-mobile(){
        margin-right: 0px;
    }
}
.foto1{
    margin: 12px;
    padding: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    border-color: $color-terciario;
    border-width: 3px;
    border-style: solid;
    filter: blur(1.5px);
    @include mediaquery-mobile(){
        width: 75%;
    }
}
.foto2{
    margin: 12px;
    padding: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: baseline;
    border-color: $color-terciario;
    border-width: 3px;
    border-style: solid;
    filter: blur(1.5px);
    @include mediaquery-mobile(){
        margin: 12px 0px 25px 12px;
        width: 75%;
    }
}
.texto-foto1{
    color: white;
    text-shadow: 1px 2px black;
    font-size: 30px;
    position: absolute;
    top: 155%;
    left: 40%;
    text-align: center;
    @include mediaquery-mobile(){
        font-size: 12px;
        top: 140%;
        left: 60%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
#foto2{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-foto2{
    color: white;
    text-shadow: 1px 2px black;
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 31%;
    transform: translate(-50%, -50%);
    @include mediaquery-mobile(){
        font-size: 17px;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);        
    }
}
.titulo-novedades{
    margin-top: 15px;
    color: white;
    text-decoration: underline;
    text-align: center;
}
#formularioNovedades{
    display: flex;
    flex-direction: row;
    width: auto; 
    justify-content: center;
}
.formulario{
    padding: 12px;
}
.contenedor-boton{
    display: flex;
    justify-content: center;
}
.boton-formulario{
    background-color: white;
    color: $color-gris;
    border-radius: 7px;
    width: 100px;
    margin-bottom: 12px;
}
.boton-formulario:hover{
    background-color: $color-gris;
    color: white;
}