.titulos{
    color: $color-gris;
    font-family: 'Nunito Sans';
    font-size: 700;
    padding: 15px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.borde-gris{
    width: 1200px;
    height: 40px;
    margin: 12px;
    padding: 12px;
    background: $color-gris;
    text-align: center;
}
#palmaresBarca{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    @include mediaquery-mobile{
        width: 250px;
        height: 300px;
    }
    @include mediaquery-iphone{
        width: 350px;
        height: 400px;
    }
}
#contenedorPalmaresBarca{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#palmaresArg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    @include mediaquery-mobile{
        width: 250px;
    }
    @include mediaquery-iphone{
        width: 350px;
    }
}
#contenedorPalmaresArg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.titulo-argentina{
    margin: 30px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.borde-azul4{
    width: 250px;
    height: 40px;
    margin: 30px;
    padding: 12px;
    background: $color-secundario;
    text-align: center;
}
#palmaresPsg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    @include mediaquery-mobile{
        width: 250px;
    }
    @include mediaquery-iphone{
        width: 350px;
    }
}
#contenedorPalmaresPsg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.titulo-psg{
    margin: 30px;
    padding: 0px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mediaquery-mobile{
        font-size: 25px;
    }
}
.borde-azul5{
    width: 420px;
    height: 40px;
    background: $color-secundario;
    text-align: center;
    @include mediaquery-mobile{
        width: 320px;
    }
    @include mediaquery-iphone{
        width: 290px;
    }
}
#palmaresInd{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 30px;
    @include mediaquery-mobile{
        width: 250px;
    }
    @include mediaquery-iphone{
        width: 355px;
        height: 350px;
    }
}
#contenedorPalmaresInd{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.titulo-ind{
    margin: 30px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.borde-azul6{
    width: 250px;
    height: 40px;
    margin: 0px;
    padding: 3px;
    background: $color-secundario;
    text-align: center;
}