footer {
    height: 100px;
    background-color: $color-secundario;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include mediaquery-mobile{
        height: 90px;
    }
    img{
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        border-image: round;
        @include mediaquery-mobile{
            width: 20px;
        }
    }
    a{
        padding: 0 12px;
        text-decoration: none;
        color: white;
        @include mediaquery-mobile{
            font-size: 12px ;
            padding: 0px 6px;
        }
    }
}
