*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#hero{
    background-image: url(../media/messi-copa2.jpg);
    width: 100%;
    height: 557px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero p{
    color: white;
    font-size: 40px;
    opacity: 60%;
    display: flex;
}

header{
    background-color: #0b132b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
}

header img{
    padding: 0px 12px;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header ul li a{
    padding: 0px 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Ruda';
}

.ruda{
    font-family: 'Ruda';
}

.rudaBold{
    font-family: 'Ruda';
    font-weight: 700;
}

.nunito{
    font-family: 'Nunito Sans';
}

main{
    background-color: #1c2541;
}

footer {
    height: 100px;
    background-color: #0b132b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer img{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-image: round;
}

footer a{
    padding: 0 12px;
    text-decoration: none;
    color: white;
}

.contenedorNoticias {
    margin-top: 15px;
	width: 330px;
	height: 80px;
	background: #0b132b;
}

#noticias h2 {
    padding-left: 12px;
    color: white;
    font-size: 72px;
}

#foto1{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    flex-wrap: wrap;
}

.foto1{
    margin: 12px;
    padding: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    border-color: #6fffe9;
    border-width: 3px;
    border-style: solid;
    filter: blur(1.5px);
}

.foto2{
    margin: 12px;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: baseline;
    border-color: #6fffe9;
    border-width: 3px;
    border-style: solid;
    filter: blur(1.5px);
}

.textoFoto1{
    color: white;
    text-shadow: 1px 2px black;
    font-size: 30px;
    position: absolute;
    top: 1030px;
    left: 40%;
    text-align: center;
}

#foto2{
    position: relative;
    display: inline-block;
    text-align: center;
}

.textoFoto2{
    color: white;
    text-shadow: 1px 2px black;
    font-size: 30px;
    position: absolute;
    top: 85%;
    left: 31%;
    transform: translate(-50%, -50%);
}

main section h1{
    color: white;
    text-align: center;
    padding: 20px;
}

.azulOscuro{
   color: #0b132b; 
}

#infancia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bordeCeleste{
    width: 125px;
    height: 55px;
    padding: 12px;
    background: #6fffe9;
    border-radius: 20px;
}

.bordeCeleste2{
    width: 300px;
    height: 50px;
    padding: 12px;
    background: #6fffe9;
    border-radius: 20px;
}

.ninez{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.ninez h2{
    font-size: 38px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.fotosNinez{
    display: flex;
    justify-content: center;
}

.messiNewells{
    margin: 12px 12px 12px 12px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.messiGrandoli{
    margin: 12px 12px 12px 12px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.textoNinez p{
    color: white;
    margin: 30px 12px 0px 20px;
    font-size: 24px;
}

.messiBarcelona1{
    margin: 30px 12px 12px 12px;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.messiBarcelona2{
    margin: 30px 12px 12px 12px;
    width: 390px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fcBarcelona{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.fcBarcelona h2{
    margin: 30px 12px 12px 12px;
    font-size: 38px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.textoBarca{
    color: white;
    margin: 30px 12px 0px 20px;
    font-size: 24px;
}

#fotosBarcelona{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.fotoBarcelona1{
    width: 60%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fotoBarcelona2{
    width: 60%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fotoBarcelona3{
    width: 60%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fotoBarcelona4{
    width: 60%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

#fotosBarcelona ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

#fotosBarcelona ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.seleccionArgentina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.seleccionArgentina h2{
    font-size: 38px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.bordeCeleste3{
    width: 415px;
    height: 50px;
    margin: 30px 0px 12px 0px;
    padding: 12px 12px 12px 12px;
    background: #6fffe9;
    border-radius: 20px;
}

.textoArgentina{
        color: white;
        margin: 30px 12px 0px 20px;
        font-size: 24px;
}

.fotosArgentina{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.fotoArgentina1{
    width: 30%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fotoArgentina2{
    width: 50%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);  
}

.psgTitulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.psgTitulo h2{
    font-size: 38px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.bordeCeleste4{
    width: 400px;
    height: 50px;
    margin: 30px 0px 12px 0px;
    padding: 12px 12px 12px 12px;
    background: #6fffe9;
    border-radius: 20px;
}

.textoPsg{
    color: white;
    margin: 30px 12px 0px 20px;
    font-size: 24px;
}

.fotosPsg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fotoPsg1{
    width: 50%;
    margin: 30px 12px 12px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fotoPsg2{
    width: 50%;
    margin: 30px 12px 50px 12px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.fondoEstadisticasBarcelona{
    width: 100%
}

.fondoEstadisticasPsg{
    width: 100%
}

.fondoEstadisticasArgentina{
    width: 100%
}

#tituloBarca{
    position: absolute;
    top: 20%;
    left: 1%;
    color: white;
    font-size: 34px;
}

.bordeAzul{
    width: 249px;
    height: 45px;
    margin: 0px;
    padding: 4px 12px;
    background: #0b132b;
    text-align: center;
}

#estadisticasBarcelona{
    position: absolute;
    top: 20%;
    left: 70%;
    color: white;
    font-size: 47px;
}

#tituloPsg{
    position: absolute;
    top: 150%;
    left: 70%;
    color: white;
    font-size: 34px;
}

.bordeAzul2{
    width: 358px;
    height: 40px;
    margin: 0px;
    padding: 4px 12px;
    background: #0b132b;
    text-align: center;
}

#estadisticasPsg{
    position: absolute;
    top: 138%;
    left: 1%;
    color: white;
    font-size: 46px;
}

#estadisticasArg{
    position: absolute;
    top: 260%;
    left: 70%;
    color: white;
    font-size: 46px;
}

#tituloArg{
    position: absolute;
    top: 260%;
    left: 2%;
    color: white;
    font-size: 32px;
}

.tituloBarcelona{
    margin: 20px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bordeAzul3{
    width: 190px;
    height: 40px;
    margin: 0px;
    padding: 3px;
    background: #0b132b;
    text-align: center;
}

.bordeAzul6{
    width: 250px;
    height: 40px;
    margin: 0px;
    padding: 3px;
    background: #0b132b;
    text-align: center;
}

.titulos{
    color: #3a506b;
    font-family: 'Nunito Sans';
    font-size: 700;
    padding: 15px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.bordeGris{
    width: 1200px;
    height: 40px;
    margin: 12px;
    padding: 12px;
    background: #3a506b;
    text-align: center;
}

#palmaresBarca{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
}

#contenedorPalmaresBarca{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#palmaresArg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#contenedorPalmaresArg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.tituloArgentina{
    margin: 30px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bordeAzul4{
    width: 250px;
    height: 40px;
    margin: 30px;
    padding: 12px;
    background: #0b132b;
    text-align: center;
}

#palmaresPsg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#contenedorPalmaresPsg{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.tituloPsg{
    margin: 30px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bordeAzul5{
    width: 420px;
    height: 40px;
    margin: 30px;
    padding: 12px;
    background: #0b132b;
    text-align: center;
}

#palmaresInd{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 30px;
}

#contenedorPalmaresInd{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.tituloInd{
    margin: 30px;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#videos {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#video1{
    margin: 30px;
    padding: 0;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
    border-radius: 35px;
}

#video2{
    margin: 50px;
    padding: 0;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
    border-radius: 35px;
}

#imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#imagenes ul li{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#galeriaFotoUno img{
    margin: 10px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

#galeriaFotoDos img{
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

#galeriaFotoTres img{
    margin: 10px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

#galeriaFotoCuatro img{
    margin: 10px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

#galeriaFotoCinco img{
    margin: 10px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(111, 255, 233);
}

.titulo-novedades{
    margin-top: 15px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

#formularioNovedades{
    display: flex;
    flex-direction: row;
    width: auto; 
    justify-content: center;
}

.formulario{
    padding: 12px;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
}

.boton-formulario{
    background-color: white;
    color: #3a506b;
    border-radius: 7px;
    width: 100px;
    margin-bottom: 12px;
    
}
.boton-formulario:hover{
    background-color: #3a506b;
    color: white;
}


@media (min-width: 0px) and (max-width: 375px){
    header{
        justify-content: center;
        position:relative;
    }
    
    header img{
        display: flex;
        flex-direction: row;
        justify-self: center;
        width: 300px;
        padding: 0;
    }
    
    header ul{
        padding: 0px;
        margin-bottom: 12px;
    }
    
    header ul li a{
        padding: 15px 10px;
    }

    footer {    
        height: 70px;
    }
    
    footer img{
        width: 25px;
    }
    
    footer a{
        font-size: 13px ;
        padding: 0px 6px;
    }

    #hero{
        background-image: url(../media/messi-copa2.jpg);
        background-position: center;
    }
    
    #hero p{
        font-size: 23px;
    }

    .contenedorNoticias{
        width: 120px;
        height: 32px;
    }
    
    #noticias h2 {
        padding-left: 5px;
        color: white;
        font-size: 26px;
    }
    
    #foto1{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    flex-wrap: wrap;
    }

    .foto1{
        margin: 12px;
        padding: 0px;
        width: 75%;
    }

    .foto2{
        margin: 12px 12px 25px 12px;
        width: 75%;
    }

    .textoFoto1{
        font-size: 14px;
        position: absolute;
        top: 800px;
        left: 220px;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .textoFoto2{
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
    }

    #video1{
        width: 300px;
        height: 200px;
        margin: 30px;
        padding: 0;
        box-shadow: 0px 0px 30px rgb(111, 255, 233);
        border-radius: 35px;
    }
    
    #video2{
        border-radius: 30px;
        width: 300px;
        height: 200px;
        margin: 30px;
        padding: 0;
        box-shadow: 0px 0px 30px rgb(111, 255, 233);
    }

    .titulo-novedades{
        margin-top: 15px;
        color: white;
        text-decoration: underline;
        text-align: center;
    }
    
    #formularioNovedades{
        display: flex;
        flex-direction: row;
        width: auto; 
        justify-content: center;
    }
    
    .formulario{
        padding: 12px;
    }
    
    .contenedor-boton{
        display: flex;
        justify-content: center;
    }
    
    .boton-formulario{
        background-color: white;
        color: #3a506b;
        border-radius: 7px;
        width: 100px;
        margin-bottom: 12px;  
    }

    .boton-formulario:hover{
        background-color: #3a506b;
        color: white;
    }

    #tituloBarca{
        top: 20%;
        left: 1%;
        font-size: 20px;
    }
    
    .bordeAzul{
        width: 140px;
        height: 30px;
        padding: 4px;
    }

    #estadisticasBarcelona{
        position: absolute;
        top: 20%;
        left: 65%;
        color: white;
        font-size: 12px;
    }
    
    #tituloPsg{
        position: absolute;
        top: 55%;
        left: 53%;
        color: white;
        font-size: 15px;
    }
    
    .bordeAzul2{
        width: 160px;
        height: 20px;
        padding: 1px; 
    }

    #estadisticasPsg{
        position: absolute;
        top: 52%;
        left: -3%;
        color: white;
        font-size: 12px;
    }

    #estadisticasArg{
        position: absolute;
        top: 83%;
        left: 60%;
        color: white;
        font-size: 13px;
    }

    #tituloArg{
        position: absolute;
        top: 87%;
        left: 2%;
        color: white;
        font-size: 15px;
    }    

    .bordeAzul3{
        width: 90px;
        height: 20px;
        margin: 0px;
        padding: 1px 0px;
        background: #0b132b;
        text-align: center;
    }

    #palmaresBarca{
        width: 350px;
        height: auto;
    }

    #palmaresArg{
        width: 350px;
        height: auto;
    }

    #palmaresPsg{
        width: 350px;
        height: auto;
    }

    #palmaresInd{
        width: 330px;
        height: 300px;
    }

    .tituloPsg{
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bordeAzul5{
        width: 310px;
        height: 40px;
        background: #0b132b;
        text-align: center;
    }
}

@media (min-width: 376px) and (max-width: 576px){
    header{
        justify-content: center;
    }
    
    header img{
        display: flex;
        flex-direction: row;
        justify-self: center;
        width: 500px;
        padding: 0;
    }
    
    header ul{
        padding: 0px;
        margin-bottom: 12px;
    }
    
    header ul li a{
        padding: 0px 14px;
        font-size: 25px;
    }

    footer {
        height: 90px;
    }
    
    footer img{
        width: 45px;
    }
    
    footer a{
        font-size: 20px ;
        padding: 0px 6px;
    }

    #hero{
        background-image: url(../media/messi-copa2.jpg);
        background-position: center;
    }
    
    #hero p{
        font-size: 30px;
    }

    .contenedorNoticias{
        width: 120px;
        height: 32px;
    }
    
    #noticias h2 {
        padding-left: 5px;
        color: white;
        font-size: 26px;
    }
    
    #foto1{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 0px;
    }

    .foto1{
        margin: 12px;
        padding: 0px;
        width: 75%;
    }

    .foto2{
        margin: 12px 0px 25px 12px;
        width: 75%;
    }

    .textoFoto1{
        font-size: 24px;
        position: absolute;
        top: 900px;
        left: 345px;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .textoFoto2{
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    #video1{
        width: 500px;
        margin: 15px;
        margin: 30px;
        padding: 0;
        box-shadow: 0px 0px 30px rgb(111, 255, 233);
    }
    
    #video2{
        width: 500px;
        margin: 30px;
        padding: 0;
        box-shadow: 0px 0px 30px rgb(111, 255, 233);
    }

    .titulo-novedades{
        margin-top: 15px;
        color: white;
        text-decoration: underline;
        text-align: center;
    }
    
    #formularioNovedades{
        display: flex;
        flex-direction: row;
        width: auto; 
        justify-content: center;
    }
    
    .formulario{
        padding: 12px;
    }
    
    .contenedor-boton{
        display: flex;
        justify-content: center;
    }
    
    .boton-formulario{
        background-color: white;
        color: #3a506b;
        border-radius: 7px;
        width: 100px;
        margin-bottom: 12px;  
    }

    .boton-formulario:hover{
        background-color: #3a506b;
        color: white;
    }

    #tituloBarca{
        position: absolute;
        top: 35%;
        left: 1%;
        color: white;
        font-size: 24px;
    }
    
    .bordeAzul{
        width: 180px;
        height: 30px;
        margin: 0px;
        padding: 3px;
        background: #0b132b;
        text-align: center;
    }

    
    #estadisticasBarcelona{
        position: absolute;
        top: 33%;
        left: 65%;
        color: white;
        font-size: 20px;
    }
    
    #tituloPsg{
        position: absolute;
        top: 105%;
        left: 54%;
        color: white;
        font-size: 24px;
    }
    
    .bordeAzul2{
        width: 240px;
        height: 30px;
        padding: 3px 1px;
    }

    #estadisticasPsg{
        position: absolute;
        top: 105%;
        left: 0%;
        color: white;
        font-size: 18px;
    }

    #estadisticasArg{
        position: absolute;
        top: 166%;
        left: 67%;
        color: white;
        font-size: 20px;
    }

    #tituloArg{
        position: absolute;
        top: 167%;
        left: 3%;
        color: white;
        font-size: 22px;
    }    

    .bordeAzul3{
        width: 120px;
        height: 30px;
        margin: 0px;
        padding: 2px 0px;
        background: #0b132b;
        text-align: center;
    }

    #palmaresBarca{
        width: 550px;
        height: auto;
    }

    #palmaresArg{
        width: 550px;
        height: auto;
    }

    #palmaresPsg{
        width: 550px;
        height: auto;
    }

    #palmaresInd{
        width: 530px;
        height: auto;
    }

    .tituloPsg{
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bordeAzul5{
        width: 320px;
        height: 40px;
        background: #0b132b;
        text-align: center;
    }
}